:root{
  --teal:#161d1c;
  --teal_hover:#2ec1ac;
}
*{
    font-family: 'Poppins', sans-serif;
}
.h-font{
    font-family: 'Merienda', cursive;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.custom-bg{
  background-color: var(--teal);
  border: 1px solid var(--teal);
}
.custom-bg:hover{
  background-color: var(--teal_hover);
  border-color:var(--teal_hover);
}
.availability-form{
  margin-top: -50px;
  z-index: 2;
  position: relative ;
}
@media screen and(max-width: 575px){
  .availability-form{
    margin-top: 0px 25px;
    padding: 0 35px;
  }
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}
.h-line{
  width: 150px;
  margin: 0 auto;
  height: 1.7px;
}
.custom-alert{
  position: fixed;
  top: 80px;
  right: 25px;
}